.chat-box {
  min-width: 18rem;
}

.chat-box-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.chat-avatar {
  width: 40px;
  margin-right: 15px;
}

.drop-up-chat {
  display: inline;
  margin-left: auto;
}
