#bottom-border {
  border-bottom: 1px solid rgb(235, 235, 235);
}

#round-corners {
  border-radius: 15px;
  border: 1px solid rgb(224, 223, 220);
}

.edit-section {
  font-size: 14px;
}

#right-side-headers {
  font-weight: 600;
  font-size: 18px;
}

.right-side-profile-images {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.viewed-people-names {
  font-weight: 600;
}

#follow-button {
  background-color: transparent;
  color: rgb(94, 94, 94);
  border: 1px solid rgb(94, 94, 94);
  border-radius: 25px;
  height: 35px;
  font-weight: 600;
  box-shadow: none !important;
}

#follow-button:hover {
  background-color: rgb(235, 235, 235);
  border: 2px solid rgb(94, 94, 94);
  box-shadow: none !important;
}

#plus-icon {
  font-size: 24px;
}

#left-side-headers {
  font-weight: 600;
  font-size: 18px;
}

#progress-bar {
  width: 100%;
  background-color: rgb(86, 104, 122);
  height: 10px;
  border-radius: 5px;
}

#analytics-headers {
  font-weight: 700;
}

#analytics-text {
  font-weight: 400;
}

#analytics-icons {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#analytics-badge {
  color: black;
  background-color: rgb(235, 235, 235);
  font-size: 14px;
}

#divider {
  width: 80%;
  height: 1px;
}

#activity-user {
  font-weight: 600;
}

#post-details {
  color: rgb(102, 102, 102);
  font-size: 12px;
}

.avatar-wrapper {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.avatar-bg {
  position: relative;
  height: 20vh !important;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.camera-btn {
  border-radius: 500px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-pic {
  position: absolute;
  top: 9.5vh;
  left: 25px;
  width: 150px;
  border: 5px solid white;
  z-index: 1;
}

.model-profile-pic {
  width: 270px;
}

.modal-wrapper {
  background-color: #1d2226;
}

.modal-btn {
  background-color: #1d2226;
}

.modal-btn:hover {
  background-color: rgba(219, 219, 219, 0.493);
}

.anyone-btn {
  border-radius: 20px;
}

.edit-btn {
  position: absolute;
  top: 210px;
  right: 30px;
  z-index: 1;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#post-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 5px;
}

#mini-headers {
  font-weight: 600;
}

#post-reactions-image {
  width: 16px;
  height: 16px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  border-bottom: none;
}

#main-buttons {
  border-radius: 20px;
  height: 30px;
  background-color: transparent;
  color: rgb(10, 102, 194);
  font-weight: 600;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  border: 1px solid rgb(10, 102, 194);
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin-inline: 2em;
  border: rgba(99, 99, 99, 0.342) solid 1px !important;
  border-radius: 5px;
  padding: 0 !important;
}

#myModal {
  height: 100vh;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

#main-buttons:hover {
  background-color: rgb(226, 240, 254);
  border: 2px solid rgb(10, 102, 194);
  box-shadow: none !important;
}

#analytics-icons:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
}

.drop-up-chat {
  display: inline;
  margin-left: auto;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.chat-box {
  min-width: 18rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.chat-box-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.chat-avatar {
  width: 40px;
  margin-right: 15px;
}

#left-side-mini-headers {
  font-weight: 600;
  font-size: 14px;
}

.details-box {
  margin-top: 8vh !important;
}

.modal-text-header {
  width: 100%;
  padding: 1em;
  text-align: center;
  border-bottom: rgba(99, 99, 99, 0.342) solid 1px !important;
}

#modal-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1em;
  align-items: center;
  padding: 1em;
}
.icon-smaller-wrapper {
  padding-inline: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font: 0.9rem;
}
.icon-smaller-wrapper:hover {
  cursor: pointer;
}
.icon-smaller-wrapper p {
  font-size: 0.7rem;
  margin-bottom: 0;
}
.navbar ul {
  margin-top: 5px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal-body-middle {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  margin-inline: 2em;
  border: rgba(99, 99, 99, 0.342) solid 1px !important;
  border-radius: 5px;
  padding: 0 !important;
}

.modal-body-bottom {
  border-top: rgba(99, 99, 99, 0.342) solid 1px !important;
  color: black;
  padding-left: 2.4em;
  width: 100%;
}
.modal-body-bottom svg {
  margin-left: 0.3em;
}
.modal-body-bottom:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown-menu .view-profile-button {
  border-radius: 25px;
  padding: 0;
}
.dropdown-menu .view-profile-button:hover {
  background-color: rgba(104, 154, 219, 0.219) !important;
}

.bi-app {
  fill: yellow;
}

.navbar-brand {
  padding: 0;
  height: 2.5em;
}
.navbar-brand svg {
  height: 100%;
  width: 100%;
  fill: #0a66c2;
}
#search-form-wrapper {
  padding: solid 1px black;
  border-radius: 6px;
  background-color: #eef3f8;
}

#search-form-wrapper i {
  padding-inline: 0.6em;
}
#search-form-wrapper input {
  background: transparent;
  border: 0px;
}
#search-form-wrapper .form-control {
  width: 12vw !important;
  transition: width 0.5s !important;
}

#search-form-wrapper .form-control:focus {
  box-shadow: 0 0 0 0.1rem rgb(22 22 22 / 44%) !important;
  width: 20vw !important;
}

.navbar-nav .nav-link {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-inline: 0.4rem !important;
  margin-top: 5px !important;
}
.navbar-nav .nav-link p {
  font-size: 0.9rem;
}
.navbar navbar-expand navbar-light bg-light {
  height: 10vh;
}
.navbar-nav #notification-parent {
  position: relative;
}
.navbar-nav #notification-number {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  text-align: center;
  top: 1.8rem;
  right: 1.9rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}
.navbar-nav .profile-photo {
  border-radius: 50%;
  width: 1.5em;
  margin-top: 19px;
}
.profile-photo-dropdown {
  width: 3.3em;
  border-radius: 50%;
}
.navbar {
  height: 8vh !important;
  padding-top: 10px !important;
}
.navbar-nav .dropdown a {
  padding: 0;
}
.dropdown-menu {
  width: 15vw !important;
  padding-inline: 1em !important;
}

.profile-nav-wrapper {
  padding-bottom: 2em;
  position: relative;
  top: -14px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-top: 11px;
}

.get-hired-text p {
  font-size: 0.8rem !important;
  margin-bottom: 0;
  text-decoration: underline;
  color: #96805f;
}

/* .right-nav {
    border-left: solid 1px grey;
  } */

/* Modal Content */
#myModal .modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  width: 30vw !important;
  height: 100%;
  position: absolute !important;
  right: 0;
  overflow: auto !important; /* Enable scroll if needed */
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  border-bottom: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin-inline: 2em;
  border: rgba(99, 99, 99, 0.342) solid 1px !important;
  border-radius: 5px;
  padding: 0 !important;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-text-header {
  width: 100%;
  padding: 1em;
  text-align: center;
  border-bottom: rgba(99, 99, 99, 0.342) solid 1px !important;
}
#modal-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1em;
  align-items: center;
  padding: 1em;
}
.icon-smaller-wrapper {
  padding-inline: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font: 0.9rem;
}
.icon-smaller-wrapper:hover {
  cursor: pointer;
}
.icon-smaller-wrapper p {
  font-size: 0.7rem;
  margin-bottom: 0;
}
.navbar ul {
  margin-top: 5px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal-body-middle {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  margin-inline: 2em;
  border: rgba(99, 99, 99, 0.342) solid 1px !important;
  border-radius: 5px;
  padding: 0 !important;
}

.modal-body-bottom {
  border-top: rgba(99, 99, 99, 0.342) solid 1px !important;
  color: black;
  padding-left: 2.4em;
  width: 100%;
}
.modal-body-bottom svg {
  margin-left: 0.3em;
}
.modal-body-bottom:hover {
  text-decoration: underline;
  cursor: pointer;
}
.dropdown-menu .view-profile-button {
  border-radius: 25px;
  padding: 0;
}
.dropdown-menu .view-profile-button:hover {
  background-color: rgba(104, 154, 219, 0.219) !important;
}
.bi-app {
  fill: yellow;
}

.modal-icon-wrapper {
  color: grey;
  margin-top: 1.5rem;
}
.modal-icon-wrapper:hover {
  color: black;
}

.navbar {
  background: white;
  position: fixed;
}

.second-nav {
  transition: 1s;
  z-index: 1;
  background-color: white;
  align-items: center;
}

.hej {
  height: 1000px;
  background-color: rgb(156, 111, 111);
}

.second-nav .profile-photo-dropdown {
  width: 2.5em;
  border-radius: 50%;
}
.second-nav {
  font-size: 0.9rem;
}
.scrolled-bg {
  background-color: white !important;
  transform: 1s;
  -webkit-animation-name: slideDown !important;
  -webkit-animation-duration: 0.4s;
  animation-name: slideDown !important;
  animation-duration: 0.4s;
  z-index: 1;
  width: 100%;
  position: fixed !important;
  margin-top: 55px;
}
.back-bg {
  background-color: white !important;

  -webkit-animation-name: slideDown !important;
  -webkit-animation-duration: 0.4s;
  animation-name: slideDown !important;
  animation-duration: 0.4s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  transform: 1s;
  z-index: 1;
  width: 100%;
  position: fixed !important;
}
#second-nav .btn {
  margin-inline: 0.3em !important;
  background-color: transparent;
  border-radius: 20px;
}

#second-nav .btn-more {
  border: grey solid 1px;
  color: grey;
}
#second-nav .btn-more:hover {
  border: grey solid 2px;
  background-color: rgba(128, 128, 128, 0.49);
}
#second-nav .btn-add-profile-section {
  border: blue solid 1px;
  color: blue;
}
#second-nav .btn-add-profile-section:hover {
  border: blue solid 2px;
  background-color: rgba(104, 154, 219, 0.219) !important;
}
#second-nav .btn-open-to {
  background-color: #0a66c2;
  color: white;
}
#second-nav .btn-open-to:hover {
  background-color: rgba(2, 2, 176, 0.804) !important;
}
@media screen and (max-width: 1000px) {
  #search-form-wrapper i {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .navbar-nav .text-gone {
    display: none;
  }
  #second-navbar {
    display: none;
  }
  .get-hired-text p {
    display: none;
  }
  #search-form-wrapper .form-control {
    width: 5vw;
  }
  #search-form-wrapper i {
    display: none;
  }
  .modal-icon-wrapper {
    padding-top: 0 !important;
    padding-bottom: 1rem;
  }
  .dropdown-menu p {
    font-size: 0.7rem !important;
  }
  #second-nav .btn {
    font-size: 0.6rem;
    padding-inline: 1rem;
  }
  .dropdown-menu {
    width: 20vw !important;
  }
  .dropdown-menu strong {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 760px) {
  .navbar-nav #notification-number {
    top: 0.8rem;
    right: -0.1rem;
  }
}
.navbar-brand svg {
  height: 5vh !important;
  width: 5vw !important;
}
#search-popup {
  display: none;
  position: relative;
  background-color: white;
  height: fit-content;
  width: 100%;
  top: 150px;
  left: 0px;
}
#search-popup .bi-x-lg {
  position: relative;
  top: 0;
  left: 27em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  border: solid 1px grey;
  cursor: pointer;
}

.profile-photo-search {
  width: 10%;
  border-radius: 50%;
  margin-inline: 1em;
}
#search-popup li {
  list-style: none;
  padding-inline: 1em;
}
#search-popup li:hover {
  cursor: pointer;
  background-color: rgba(168, 165, 165, 0.655);
}
