.avatar-wrapper {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.avatar-bg {
  position: relative;
}

.camera-btn {
  border-radius: 500px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-pic {
  position: absolute;
  top: 100px;
  left: 25px;
  width: 150px;
  border: 5px solid white;
  z-index: 1;
}

.model-profile-pic {
  width: 270px;
}

.modal-wrapper {
  background-color: #1d2226;
}

.modal-btn {
  background-color: #1d2226;
}

.modal-btn:hover {
  background-color: rgba(219, 219, 219, 0.493);
}

.anyone-btn {
  border-radius: 20px;
}

.edit-btn {
  position: absolute;
  top: 210px;
  right: 30px;
  z-index: 1;
}

.details-box {
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 35vh;
  width: 70vw;
  padding-top: 60px;
  padding-left: 20px;
}

.gender-known {
  font-size: 15px;
  color: rgba(128, 128, 128, 0.678);
  font-weight: normal;
}

.footer p {
  font-size: 12px;
}

.footer-icon {
  font-size: 25px;
}

.drop-up-chat {
  display: inline;
  margin-left: auto;
}

.chat-box {
  min-width: 18rem;
}

.chat-box-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.chat-avatar {
  width: 40px;
  margin-right: 15px;
}
