body {
  background-color: rgb(243, 242, 239) !important;
}

#bottom-border {
  border-bottom: 1px solid rgb(235, 235, 235);
}

#round-corners {
  border-radius: 15px;
  border: 1px solid rgb(224, 223, 220);
}

.edit-section {
  font-size: 14px;
}

#right-side-headers {
  font-weight: 600;
  font-size: 18px;
}

.right-side-profile-images {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.viewed-people-names {
  font-weight: 600;
}

#follow-button {
  background-color: transparent;
  color: rgb(94, 94, 94);
  border: 1px solid rgb(94, 94, 94);
  border-radius: 25px;
  height: 35px;
  font-weight: 600;
}

#follow-button:hover {
  background-color: rgb(235, 235, 235);
  border: 2px solid rgb(94, 94, 94);
}

#plus-icon {
  font-size: 24px;
}

#left-side-headers {
  font-weight: 600;
  font-size: 18px;
}

#progress-bar {
  width: 100%;
  background-color: rgb(86, 104, 122);
  height: 10px;
  border-radius: 5px;
}

#analytics-headers {
  font-weight: 700;
}

#analytics-text {
  font-weight: 400;
}

#analytics-icons {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#analytics-badge {
  background-color: rgb(235, 235, 235);
  font-size: 14px;
}

#divider {
  width: 80%;
  height: 1px;
}

#activity-user {
  font-weight: 600;
}

#post-details {
  color: rgb(102, 102, 102);
  font-size: 12px;
}

#post-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 5px;
}

#mini-headers {
  font-weight: 600;
}

#post-reactions-image {
  width: 16px;
  height: 16px;
}

#main-buttons {
  border-radius: 20px;
  height: 30px;
  background-color: transparent;
  color: rgb(10, 102, 194);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-buttons:hover {
  background-color: rgb(226, 240, 254);
  border: 2px solid rgb(10, 102, 194);
}

#analytics-icons:hover {
background-color: rgb(235, 235, 235);
border-radius: 50%;
}

#left-side-mini-headers {
  font-weight: 600;
  font-size: 14px;
}